# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# Node/Next artifacts
node_modules
node_modules/*
.next
.next/*
tsconfig.tsbuildinfo

# https://github.com/lycheeverse/lychee
.lycheecache

.vscode/*
