[phases.setup]
nixPkgs = [
  "nodejs_20",
  "rustup",
  "pkg-config",
  "openssl",
  "llvmPackages.libclang"
]

[phases.install]
cmds = [
  "rustup toolchain install stable --profile minimal",
  "rustup default stable",
  "rustup target add wasm32-unknown-unknown",
  "cargo install --locked trunk",
  "mkdir -p /usr/local/bin",
  "cp $HOME/.cargo/bin/trunk /usr/local/bin/trunk",
  "chmod +x /usr/local/bin/trunk",
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm run start"
